# Import libraries and data

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
df = pd.read_csv('/Users/marina/Desktop/final_project/data/raw/okcupid_profiles .csv')
#data/raw/okcupid_profiles .csv

# Explore data

essay0- My self summary - my_summary
essay1- What I’m doing with my life- doing_what
essay2- I’m really good at - good_at
essay3- The first thing people usually notice about me - noticed_for
essay4- Favorite books, movies, show, music, and food - favourites
essay5- The six things I could never do without - basic_six
essay6- I spend a lot of time thinking about - think_about
essay7- On a typical Friday night I am - typical_friday
essay8- The most private thing I am willing to admit - most_private
essay9- You should message me if... - message_if

In [3]:
df.info()
#https://www.kaggle.com/datasets/andrewmvd/okcupid-profiles
#see https://www.kaggle.com/andrewmvd/okcupid-profiles/discussion/183145 for details

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    54650 non-null  object
 5   diet         35551 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45866 non-null  object
 8   education    53318 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59943 non-null  float64
 11  income       59946 non-null  int64
 12  job          51748 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    24385 non-null  object
 16  pets         40025 non-null  object
 17  religion     39720 non-null  object
 18  sign         48890 non-null  object
 19  smokes       54434 non-null  object
 20  speaks       59896 non-null  object
 21  essay0       54458 non-null  object
 22  essay1       52374 non-null  object
 23  essay2       50308 non-null  object
 24  essay3       48470 non-null  object
 25  essay4       49409 non-null  object
 26  essay5       49096 non-null  object
 27  essay6       46175 non-null  object
 28  essay7       47495 non-null  object
 29  essay8       40721 non-null  object
 30  essay9       47343 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

In [31]:
df['age'].unique()

array([ 22,  35,  38,  23,  29,  32,  31,  24,  37,  28,  30,  39,  33,
        26,  27,  20,  25,  40,  36,  21,  34,  43,  46,  41,  42,  45,
        18,  55,  50,  59,  44,  48,  54,  51,  62,  52,  19,  58,  66,
        53,  63,  47,  49,  61,  60,  57,  56,  65,  64,  68, 110,  69,
        67, 109])

In [5]:
df['speaks'].unique()

array(['english', 'english (fluently), spanish (poorly), french (poorly)',
       'english, french, c++', ...,
       'english (fluently), hindi (poorly), french (poorly), tamil (okay), spanish (poorly)',
       'english (fluently), french (poorly), japanese (poorly), latin (poorly)',
       'english (fluently), french, farsi'], dtype=object)

# Clean column names

In [6]:

df.columns = df.columns.str.lower().str.replace(' ', '')

# Column drinks, diet, drugs, education, ethnicity,height,income,job,offspring,pets,religion,sign,smokes,speaks an all essays

In [7]:
# List of columns to fill NaN values with 'rather not say'
columns_to_fill = [
    'drugs', 'education', 'ethnicity', 'height', 'income', 'job', 
    'offspring', 'pets', 'religion', 'sign', 'smokes', 'speaks', 
    'essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 
    'essay6', 'essay7', 'essay8', 'essay9','drinks','diet',
    'body_type',
]

# Fill NaN values with 'rather not say'
df[columns_to_fill] = df[columns_to_fill].fillna('rather not say')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    59946 non-null  object
 5   diet         59946 non-null  object
 6   drinks       59946 non-null  object
 7   drugs        59946 non-null  object
 8   education    59946 non-null  object
 9   ethnicity    59946 non-null  object
 10  height       59946 non-null  object
 11  income       59946 non-null  int64
 12  job          59946 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    59946 non-null  object
 16  pets         59946 non-null  object
 17  religion     59946 non-null  object
 18  sign         59946 non-null  object
 19  smokes       59946 non-null  object
 20  speaks       59946 non-null  object
 21  essay0       59946 non-null  object
 22  essay1       59946 non-null  object
 23  essay2       59946 non-null  object
 24  essay3       59946 non-null  object
 25  essay4       59946 non-null  object
 26  essay5       59946 non-null  object
 27  essay6       59946 non-null  object
 28  essay7       59946 non-null  object
 29  essay8       59946 non-null  object
 30  essay9       59946 non-null  object
dtypes: int64(2), object(29)
memory usage: 14.2+ MB

# Clean column age 2 wrong values

In [34]:
# Delete rows where 'age' is greater than 100 outliers or mistakes
df = df[df['age'] <= 100]

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59944 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59944 non-null  int64
 1   status       59944 non-null  object
 2   sex          59944 non-null  object
 3   orientation  59944 non-null  object
 4   body_type    54649 non-null  object
 5   diet         35550 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45865 non-null  object
 8   education    53317 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59941 non-null  float64
 11  income       59944 non-null  int64
 12  job          51747 non-null  object
 13  last_online  59944 non-null  object
 14  location     59944 non-null  object
 15  offspring    24384 non-null  object
 16  pets         40025 non-null  object
 17  religion     39719 non-null  object
 18  sign         48889 non-null  object
 19  smokes       54433 non-null  object
 20  speaks       59894 non-null  object
 21  essay0       54458 non-null  object
 22  essay1       52374 non-null  object
 23  essay2       50308 non-null  object
 24  essay3       48469 non-null  object
 25  essay4       49409 non-null  object
 26  essay5       49096 non-null  object
 27  essay6       46175 non-null  object
 28  essay7       47495 non-null  object
 29  essay8       40721 non-null  object
 30  essay9       47343 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.6+ MB

# Clean column location and create 2 new ones: city and state

In [35]:
df1=df.copy()

# Check which rows do not contain a comma
no_comma_rows = df[~df['location'].str.contains(', ')]

print("Rows with no comma in 'location':")
print(no_comma_rows)

Rows with no comma in 'location':
Empty DataFrame
Columns: [age, status, sex, orientation, body_type, diet, drinks, drugs, education, ethnicity, height, income, job, last_online, location, offspring, pets, religion, sign, smokes, speaks, essay0, essay1, essay2, essay3, essay4, essay5, essay6, essay7, essay8, essay9]
Index: []

[0 rows x 31 columns]

In [36]:
# Check which rows do not contain a comma
no_comma_rows = df[~df['location'].str.contains(',')]
print("Rows with no comma in 'location':")
print(no_comma_rows)

# Define a function to split the 'location' column
def split_location(location):
    parts = location.split(', ')
    if len(parts) == 2:
        return parts[0], parts[1]
    else:
        return location, None

# Apply the split function and create new columns
df[['city', 'state']] = df['location'].apply(lambda x: pd.Series(split_location(x)))

# Display the updated DataFrame
print("Updated DataFrame:")
print(df)

Rows with no comma in 'location':
Empty DataFrame
Columns: [age, status, sex, orientation, body_type, diet, drinks, drugs, education, ethnicity, height, income, job, last_online, location, offspring, pets, religion, sign, smokes, speaks, essay0, essay1, essay2, essay3, essay4, essay5, essay6, essay7, essay8, essay9]
Index: []

[0 rows x 31 columns]
Updated DataFrame:
       age     status sex orientation       body_type               diet  \
0       22     single   m    straight  a little extra  strictly anything
1       35     single   m    straight         average       mostly other
2       38  available   m    straight            thin           anything
3       23     single   m    straight            thin         vegetarian
4       29     single   m    straight        athletic                NaN
...    ...        ...  ..         ...             ...                ...
59941   59     single   f    straight             NaN                NaN
59942   24     single   m    straight             fit    mostly anything
59943   42     single   m    straight         average    mostly anything
59944   27     single   m    straight        athletic    mostly anything
59945   39     single   m         gay         average                NaN

           drinks      drugs                          education  \
0        socially      never      working on college/university
1           often  sometimes              working on space camp
2        socially        NaN     graduated from masters program
3        socially        NaN      working on college/university
4        socially      never  graduated from college/university
...           ...        ...                                ...
59941    socially      never  graduated from college/university
59942       often  sometimes      working on college/university
59943  not at all      never     graduated from masters program
59944    socially      often      working on college/university
59945    socially        NaN     graduated from masters program

                 ethnicity  ...  \
0             asian, white  ...
1                    white  ...
2                      NaN  ...
3                    white  ...
4      asian, black, other  ...
...                    ...  ...
59941                  NaN  ...
59942         white, other  ...
59943                asian  ...
59944         asian, black  ...
59945                white  ...

                                                  essay2  \
0      making people laugh. ranting about a good salt...
1      being silly. having ridiculous amonts of fun w...
2      improvising in different contexts. alternating...
3      playing synthesizers and organizing books acco...
4      creating imagery to look at: http://bagsbrown....
...                                                  ...
59941  i make an outstanding osso bucco. i am also ve...
59942  filmmaking, photography, graphic design, web d...
59943  - looking at things objectively - getting thin...
59944                                          listening
59945  i'm a great bullshitter. i don't know what it ...

                                                  essay3  \
0      the way i look. i am a six foot half asian, ha...
1                                                    NaN
2      my large jaw and large glasses are the physica...
3                      socially awkward but i do my best
4                i smile a lot and my inquisitive nature
...                                                  ...
59941  i am told that people notice my smile, eyes an...
59942                                dude, i don't know.
59943  i'm quiet until i get used to the environment ...
59944  it used to be the hair until i mowed it off bu...
59945  either that i am funny/sarcastic, or that i am...

                                                  essay4  \
0      books: absurdistan, the republic, of mice and ...
1      i am die hard christopher moore fan. i don't r...
2      okay this is where the cultural matrix gets so...
3      bataille, celine, beckett. . . lynch, jarmusch...
4      music: bands, rappers, musicians at the moment...
...                                                  ...
59941  i am an avid movie watcher and follow the broa...
59942  movies: hook (the greatest adventure ever!), g...
59943  last book: "game change". movies: bourne serie...
59944  where to begin musically: right now i listen t...
59945  i just read the help by kathryn stockett, sooo...

                                                  essay5  \
0                      food. water. cell phone. shelter.
1      delicious porkness in all of its glories. my b...
2      movement conversation creation contemplation t...
3                                                    NaN
4                                                    NaN
...                                                  ...
59941         my family, my dog, italy, words and music!
59942  iphone contact lenses headphones camera tv rem...
59943  - iphone - friends and family - internet - bay...
59944  music, family, friends, a basketball, hoop, so...
59945  1. family & friends & other humans - interacti...

                                                  essay6  \
0                            duality and humorous things
1                                                    NaN
2                                                    NaN
3                             cats and german philosophy
4                                                    NaN
...                                                  ...
59941                                   writing my book.
59942  i do most of my thinking on the bus to/from wo...
59943           aside from work, how to improve my home.
59944          what can i do to make someone chuckle....
59945  sex, myself, other people, how amazing everyth...

                                                  essay7  \
0      trying to find someone to hang out with. i am ...
1                                                    NaN
2      viewing. listening. dancing. talking. drinking...
3                                                    NaN
4                                                    NaN
...                                                  ...
59941  running with my dog, finishing up the work wee...
59942      bringin' home bacon, or drinking and shakin'!
59943    out enjoying friendly conversation over dinner.
59944  what i would do on any other day. everydays a ...
59945  out at happy hour with my friends, running int...

                                                  essay8  \
0      i am new to california and looking for someone...
1      i am very open and will share just about anyth...
2      when i was five years old, i was known as "the...
3                                                    NaN
4                                                    NaN
...                                                  ...
59941  i have a dream to sing at the alconquin in nyc...
59942  when i was 18 i got a tattoo of waldo somewher...
59943               please let me think about this more.
59944  i like walking around in other people's house ...
59945  i wish i could cry like holly hunter in broadc...

                                                  essay9                 city  \
0      you want to be swept off your feet! you are ti...  south san francisco
1                                                    NaN              oakland
2      you are bright, open, intense, silly, ironic, ...        san francisco
3                                  you feel so inclined.             berkeley
4                                                    NaN        san francisco
...                                                  ...                  ...
59941  you are seeking a long term connection of shar...              oakland
59942     meh if you made it this far you might as well.        san francisco
59943                         we have similar interests.  south san francisco
59944              you are interested and interesting...        san francisco
59945  if you have a back-bone, an opinion, a sense o...        san francisco

            state
0      california
1      california
2      california
3      california
4      california
...           ...
59941  california
59942  california
59943  california
59944  california
59945  california

[59944 rows x 33 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59944 entries, 0 to 59945
Data columns (total 33 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59944 non-null  int64
 1   status       59944 non-null  object
 2   sex          59944 non-null  object
 3   orientation  59944 non-null  object
 4   body_type    59944 non-null  object
 5   diet         59944 non-null  object
 6   drinks       59944 non-null  object
 7   drugs        59944 non-null  object
 8   education    59944 non-null  object
 9   ethnicity    59944 non-null  object
 10  height       59944 non-null  object
 11  income       59944 non-null  int64
 12  job          59944 non-null  object
 13  last_online  59944 non-null  object
 14  location     59944 non-null  object
 15  offspring    59944 non-null  object
 16  pets         59944 non-null  object
 17  religion     59944 non-null  object
 18  sign         59944 non-null  object
 19  smokes       59944 non-null  object
 20  speaks       59944 non-null  object
 21  essay0       59944 non-null  object
 22  essay1       59944 non-null  object
 23  essay2       59944 non-null  object
 24  essay3       59944 non-null  object
 25  essay4       59944 non-null  object
 26  essay5       59944 non-null  object
 27  essay6       59944 non-null  object
 28  essay7       59944 non-null  object
 29  essay8       59944 non-null  object
 30  essay9       59944 non-null  object
 31  city         59944 non-null  object
 32  state        59943 non-null  object
dtypes: int64(2), object(31)
memory usage: 15.5+ MB

In [13]:
# rows where 'state' is null
rows_with_null_state = df[df['state'].isnull()][['location', 'city', 'state']]
print(rows_with_null_state)

# Fill NaN value 
df.loc[42438, 'state'] = 'vancouver'

# change
print(df.loc[42438, ['location', 'city', 'state']])

                                  location  \
42438  vancouver, british columbia, canada

                                      city state
42438  vancouver, british columbia, canada  None
location    vancouver, british columbia, canada
city        vancouver, british columbia, canada
state                                 vancouver
Name: 42438, dtype: object

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59944 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59944 non-null  int64
 1   status       59944 non-null  object
 2   sex          59944 non-null  object
 3   orientation  59944 non-null  object
 4   body_type    59944 non-null  object
 5   diet         59944 non-null  object
 6   drinks       59944 non-null  object
 7   drugs        59944 non-null  object
 8   education    59944 non-null  object
 9   ethnicity    59944 non-null  object
 10  height       59944 non-null  object
 11  income       59944 non-null  int64
 12  job          59944 non-null  object
 13  last_online  59944 non-null  object
 14  location     59944 non-null  object
 15  offspring    59944 non-null  object
 16  pets         59944 non-null  object
 17  religion     59944 non-null  object
 18  sign         59944 non-null  object
 19  smokes       59944 non-null  object
 20  speaks       59944 non-null  object
 21  essay0       59944 non-null  object
 22  essay1       59944 non-null  object
 23  essay2       59944 non-null  object
 24  essay3       59944 non-null  object
 25  essay4       59944 non-null  object
 26  essay5       59944 non-null  object
 27  essay6       59944 non-null  object
 28  essay7       59944 non-null  object
 29  essay8       59944 non-null  object
 30  essay9       59944 non-null  object
dtypes: int64(2), object(29)
memory usage: 16.7+ MB

In [15]:
df['income'].unique()

array([     -1,   80000,   20000,   40000,   30000,   50000,   60000,
       1000000,  150000,  100000,  500000,   70000,  250000])

# Convert column last_online to date time format. Also new column date and time.

In [16]:
df1['last_online'].unique()

array(['2012-06-28-20-30', '2012-06-29-21-41', '2012-06-27-09-10', ...,
       '2012-06-02-08-16', '2012-02-17-20-44', '2012-06-14-16-51'],
      dtype=object)

In [38]:
# Convert 'last_online' to datetime format
df1['last_online'] = pd.to_datetime(df1['last_online'], format='%Y-%m-%d-%H-%M')

# Create new columns for date and time
df1['last_online_date'] = df1['last_online'].dt.date
df1['last_online_time'] = df1['last_online'].dt.time

#print(df1)

In [39]:
#df1.info()

# Clean salary column

In [40]:
df['income'].unique()

array([     -1,   80000,   20000,   40000,   30000,   50000,   60000,
       1000000,  150000,  100000,  500000,   70000,  250000])

In [41]:
# Count rows where 'income' values are less than zero
count_negative_income = (df['income'] < 0).sum()

print(f"Number of rows with 'income' less than zero: {count_negative_income}")

Number of rows with 'income' less than zero: 48440

In [21]:
df1=df.copy()

In [42]:
df1['job'].unique()

array(['transportation', 'hospitality / travel', nan, 'student',
       'artistic / musical / writer', 'computer / hardware / software',
       'banking / financial / real estate', 'entertainment / media',
       'sales / marketing / biz dev', 'other', 'medicine / health',
       'science / tech / engineering', 'executive / management',
       'education / academia', 'clerical / administrative',
       'construction / craftsmanship', 'rather not say',
       'political / government', 'law / legal services', 'unemployed',
       'military', 'retired'], dtype=object)

In [44]:
# Filter rows where income is less than zero and job is not 'Rather not say'
filtered_df = df1[(df1['income'] < 0) & (df1['job'] != 'rather not say')]

count_filtered_rows = len(filtered_df)

print(f"Number of rows with income < 0 and job not 'Rather not say': {count_filtered_rows}")

Number of rows with income < 0 and job not 'Rather not say': 48093

In [45]:
# avrg income by job category 
average_income_by_job = df1[df1['income'] >= 0].groupby('job')['income'].mean().round()

# replace negative income values with  income by job
def replace_negative_income(row):
    if row['income'] < 0:
        job = row['job']
        if job in average_income_by_job:
            return int(average_income_by_job[job])  
    return row['income']


df1['income'] = df1.apply(replace_negative_income, axis=1)

In [46]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59944 entries, 0 to 59945
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               59944 non-null  int64
 1   status            59944 non-null  object
 2   sex               59944 non-null  object
 3   orientation       59944 non-null  object
 4   body_type         54649 non-null  object
 5   diet              35550 non-null  object
 6   drinks            56961 non-null  object
 7   drugs             45865 non-null  object
 8   education         53317 non-null  object
 9   ethnicity         54266 non-null  object
 10  height            59941 non-null  float64
 11  income            59944 non-null  int64
 12  job               51747 non-null  object
 13  last_online       59944 non-null  datetime64[ns]
 14  location          59944 non-null  object
 15  offspring         24384 non-null  object
 16  pets              40025 non-null  object
 17  religion          39719 non-null  object
 18  sign              48889 non-null  object
 19  smokes            54433 non-null  object
 20  speaks            59894 non-null  object
 21  essay0            54458 non-null  object
 22  essay1            52374 non-null  object
 23  essay2            50308 non-null  object
 24  essay3            48469 non-null  object
 25  essay4            49409 non-null  object
 26  essay5            49096 non-null  object
 27  essay6            46175 non-null  object
 28  essay7            47495 non-null  object
 29  essay8            40721 non-null  object
 30  essay9            47343 non-null  object
 31  last_online_date  59944 non-null  object
 32  last_online_time  59944 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(29)
memory usage: 15.5+ MB

In [26]:
# Count rows where 'income' values are less than zero
count_negative_income = (df1['income'] < 0).sum()

print(f"Number of rows with 'income' less than zero: {count_negative_income}")

Number of rows with 'income' less than zero: 0

In [27]:
df1['income'].unique()

array([  85000,   80000,  185256,   20000,  129155,  108365,   74556,
         40000,   99588,   30000,   50000,  105455,  122712,  108924,
         93057,  138815,   85366,   50784,   81583,  101478,   60000,
       1000000,  104051,  150000,  100000,  115899,   91681,  500000,
         91386,   85204,   70000,  250000,  314571])

In [47]:
# Convert 'income' column to integer
df1['income'] = df1['income'].astype(int)

# Export cleaned df

In [33]:
okcupid_cleaned = df1

# Specify the folder path
folder_path = ('/Users/marina/Desktop/final_project/data/cleaned/')

# Specify the file name
file_name = 'okcupid_cleaned.csv'

 #Combine the folder path and file name
file_path = os.path.join(folder_path, file_name)

# Export the DataFrame to a CSV file
okcupid_cleaned.to_csv(file_path, index=False)

print(f'DataFrame exported to {file_path}')

DataFrame exported to /Users/marina/Desktop/final_project/data/cleaned/okcupid_cleaned.csv