# Import libraries and data

In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
df1 = pd.read_csv('/Users/marina/Desktop/final_project/data/cleaned/okcupid_cleaned.csv')
#data/raw/okcupid_profiles .csv

/var/folders/yl/d5x0r6t10l52bms12sy70rzc0000gn/T/ipykernel_3025/4232228962.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/Users/marina/Desktop/final_project/data/cleaned/okcupid_cleaned.csv')

In [71]:
#https://www.kaggle.com/code/hectoroik/date-a-scientist-classification-models-python
#https://www.kaggle.com/datasets/andrewmvd/okcupid-profiles/code
#https://www.canva.com/p/templates/EAF2kSos8SE-presentaci-n-de-infograf-as-esquemas-marketing-profesional-colores-pasteles/
#https://www.canva.com/p/templates/EAFtldFLwVY-presentaci-n-proyecto-trabajo-creativa-profesional-azul/
#https://www.canva.com/p/templates/EAFC0JtURT0-presentacion-moda-aesthetic-minimalist-rosa/
#https://www.canva.com/es_es/plantillas/EAEp_rpQXkw-presentacion-de-educacion-proyecto-de-grupo-animado-abstracto-estampado-morado-y-verde/
#https://www.canva.com/p/templates/EAFtldFLwVY-presentaci-n-proyecto-trabajo-creativa-profesional-azul/
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59944 entries, 0 to 59943
Data columns (total 33 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59944 non-null  int64
 1   status       59944 non-null  object
 2   sex          59944 non-null  object
 3   orientation  59944 non-null  object
 4   body_type    59944 non-null  object
 5   diet         59944 non-null  object
 6   drinks       59944 non-null  object
 7   drugs        59944 non-null  object
 8   education    59944 non-null  object
 9   ethnicity    59944 non-null  object
 10  height       59944 non-null  object
 11  income       59944 non-null  int64
 12  job          59944 non-null  object
 13  last_online  59944 non-null  object
 14  location     59944 non-null  object
 15  offspring    59944 non-null  object
 16  pets         59944 non-null  object
 17  religion     59944 non-null  object
 18  sign         59944 non-null  object
 19  smokes       59944 non-null  object
 20  speaks       59944 non-null  object
 21  essay0       59944 non-null  object
 22  essay1       59944 non-null  object
 23  essay2       59944 non-null  object
 24  essay3       59944 non-null  object
 25  essay4       59944 non-null  object
 26  essay5       59944 non-null  object
 27  essay6       59944 non-null  object
 28  essay7       59944 non-null  object
 29  essay8       59944 non-null  object
 30  essay9       59944 non-null  object
 31  city         59944 non-null  object
 32  state        59944 non-null  object
dtypes: int64(2), object(31)
memory usage: 15.1+ MB

# Column sex

In [72]:
df1['sex'].unique()

array(['m', 'f'], dtype=object)

In [73]:
'''
    SEX STATISTICS
'''

# Count the occurrences of each unique value in the 'sex' column
sex_counts = df1['sex'].value_counts()

# percentage of each value
sex_percentage= round((sex_counts / len(df1)) * 100,0)

print("Percentage of each sex:")
print(sex_percentage)

Percentage of each sex:
sex
m    60.0
f    40.0
Name: count, dtype: float64

In [74]:
'''
    INCOME STATISTICS BY GENDER
'''

# Group by gender and calculate statistics for income
income_stats_gender = df1.groupby('sex')['income'].describe()

print("Statistics for income grouped by gender:")
print(income_stats_gender)

Statistics for income grouped by gender:
       count           mean            std      min      25%       50%  \
sex
f    24116.0  110233.497595   78302.272293  20000.0  81583.0   99588.0
m    35828.0  115062.970219  104446.830932  20000.0  81583.0  101478.0

          75%        max
sex
f    129155.0  1000000.0
m    122712.0  1000000.0

# Column income

In [75]:
'''
    INCOME STATISTICS
'''

# Calculate statistics
income_stats = df1['income'].describe()

# Additional statistics
income_min = int(round(df1['income'].min()))
income_max = int(round(df1['income'].max()))
income_mean = int(round(df1['income'].mean()))
income_std = int(round(df1['income'].std()))

print("Basic statistics for income:")
print(income_stats)
print(f"Minimum income: {income_min}")
print(f"Maximum income: {income_max}")
print(f"Mean income: {income_mean}")
print(f"Standard deviation of income: {income_std}")

Basic statistics for income:
count      59944.000000
mean      113120.030779
std        94828.399905
min        20000.000000
25%        81583.000000
50%       101478.000000
75%       122712.000000
max      1000000.000000
Name: income, dtype: float64
Minimum income: 20000
Maximum income: 1000000
Mean income: 113120
Standard deviation of income: 94828

# Column status

In [76]:
'''
    STATUS STATISTICS
'''

# Count the occurrences of each unique value in the 'status' column
status_counts = df1['status'].value_counts()

# Calculate the percentage of each value
status_percentage= round((status_counts / len(df1)) * 100,0)

# Display the result
print("Percentage of each status:")
print(status_percentage)

Percentage of each status:
status
single            93.0
seeing someone     3.0
available          3.0
married            1.0
unknown            0.0
Name: count, dtype: float64

In [77]:
'''
    INCOME STATISTICS BY STATUS
'''

# Group by status and calculate statistics for income
income_stats_status = df1.groupby('status')['income'].describe()

print("\nStatistics for income grouped by status:")
print(income_stats_status)

Statistics for income grouped by status:
                  count           mean            std      min      25%  \
status
available        1864.0  115597.020386  116452.275152  20000.0  81583.0
married           310.0  111846.174194   99992.173474  20000.0  81583.0
seeing someone   2064.0  110033.083333  112480.197993  20000.0  74556.0
single          55696.0  113158.426925   93267.475034  20000.0  81583.0
unknown            10.0  114193.500000   85512.366004  20000.0  81583.0

                     50%        75%        max
status
available       101478.0  129155.00  1000000.0
married         100000.0  129155.00  1000000.0
seeing someone   99588.0  110667.75  1000000.0
single          101478.0  122712.00  1000000.0
unknown         100711.0  123957.50   314571.0

In [78]:
# convert  unknwonw to single which the majority for single
df1['status'] = df1['status'].replace('unknown', 'single')
df3=df1.copy()

# Column education

In [79]:
'''
    EDUCATION STATISTICS
'''

# Count the occurrences of each unique value in the 'status' column
education_counts = df3['education'].value_counts()

# Calculate the percentage of each value
education_percentage= round((education_counts / len(df3)) * 100,0)

# Display the result
print("Percentage of each education:")
print(education_percentage)

Percentage of each education:
education
graduated from college/university    40.0
graduated from masters program       15.0
rather not say                       11.0
working on college/university        10.0
working on masters program            3.0
graduated from two-year college       3.0
graduated from high school            2.0
graduated from ph.d program           2.0
graduated from law school             2.0
working on two-year college           2.0
dropped out of college/university     2.0
working on ph.d program               2.0
college/university                    1.0
graduated from space camp             1.0
dropped out of space camp             1.0
graduated from med school             1.0
working on space camp                 1.0
working on law school                 0.0
two-year college                      0.0
working on med school                 0.0
dropped out of two-year college       0.0
dropped out of masters program        0.0
masters program                       0.0
dropped out of ph.d program           0.0
dropped out of high school            0.0
high school                           0.0
working on high school                0.0
space camp                            0.0
ph.d program                          0.0
law school                            0.0
dropped out of law school             0.0
dropped out of med school             0.0
med school                            0.0
Name: count, dtype: float64

In [80]:
df3['education'].unique()

array(['working on college/university', 'working on space camp',
       'graduated from masters program',
       'graduated from college/university', 'working on two-year college',
       'rather not say', 'graduated from high school',
       'working on masters program', 'graduated from space camp',
       'college/university', 'dropped out of space camp',
       'graduated from ph.d program', 'graduated from law school',
       'working on ph.d program', 'two-year college',
       'graduated from two-year college', 'working on med school',
       'dropped out of college/university', 'space camp',
       'graduated from med school', 'dropped out of high school',
       'working on high school', 'masters program',
       'dropped out of ph.d program', 'dropped out of two-year college',
       'dropped out of med school', 'high school',
       'working on law school', 'law school',
       'dropped out of masters program', 'ph.d program',
       'dropped out of law school', 'med school'], dtype=object)

In [81]:
# too many values that can be grouped in 4 cats : use map function

#'High school or less','Some college','College or more','Post graduate degree'
                                   
# Clean the 'education' column by stripping whitespace
# Clean the 'education' column by stripping whitespace
df3['education'] = df3['education'].str.strip()

# Define the mapping dictionary
education_mapping = {
    ('graduated from high school', 'dropped out of high school', 'working on high school', 'high school'): 'High school or less',
    ('working on two-year college', 'dropped out of space camp', 'two-year college', 'graduated from two-year college',
     'dropped out of college/university', 'dropped out of two-year college', 'dropped out of med school', 'dropped out of law school'): 'Some college',
    ('working on college/university', 'working on space camp', 'graduated from masters program', 'graduated from college/university',
     'working on masters program', 'graduated from space camp', 'college/university', 'graduated from law school',
     'working on ph.d program', 'space camp', 'graduated from med school', 'working on med school',
     'masters program', 'dropped out of ph.d program', 'law school', 'dropped out of masters program',
     'working on law school', 'med school'): 'College or more',
    ('graduated from ph.d program', 'ph.d program'): 'Post graduate degree'
}

# Map the values using the mapping dictionary
for key, value in education_mapping.items():
    df3['education'] = df3['education'].replace(key, value)

# Get unique values after mapping
unique_educations_mapped = df3['education'].unique()

print(unique_educations_mapped)

['College or more' 'Some college' 'rather not say' 'High school or less'
 'Post graduate degree']

In [82]:
df3['education'].unique()

array(['College or more', 'Some college', 'rather not say',
       'High school or less', 'Post graduate degree'], dtype=object)

In [83]:
'''
    EDUCATION STATISTICS AFTER GROUPING
'''

# Count the occurrences of each unique value in the 'status' column
education_counts = df3['education'].value_counts()

# Calculate the percentage of each value
education_percentage= round((education_counts / len(df3)) * 100,0)

# Display the result
print("Percentage of each education:")
print(education_percentage)

Percentage of each education:
education
College or more         76.0
rather not say          11.0
Some college             8.0
High school or less      3.0
Post graduate degree     2.0
Name: count, dtype: float64

In [84]:
df4=df3.copy()

In [85]:
'''
    INCOME STATISTICS BY GROUP EDUCATION
'''

# Group by education and calculate statistics for income
income_stats_education = df4.groupby('education')['income'].describe()

print("\nStatistics for income grouped by education:")
print(income_stats_education)

Statistics for income grouped by education:
                        count           mean            std      min      25%  \
education
College or more       45740.0  111315.232925   93130.105393  20000.0  81583.0
High school or less    1713.0   91501.667250  114261.007357  20000.0  40000.0
Post graduate degree   1298.0  116940.807396   87610.319342  20000.0  85366.0
Some college           4566.0  100285.833114  116735.644797  20000.0  50784.0
rather not say         6627.0  139259.353101   79202.871556  20000.0  91681.0

                           50%       75%        max
education
College or more       100000.0  122712.0  1000000.0
High school or less    81583.0  100000.0  1000000.0
Post graduate degree  108365.0  108924.0  1000000.0
Some college           81583.0  108365.0  1000000.0
rather not say        129155.0  185256.0  1000000.0

# Column ethnicity

In [86]:
'''
    Ethnicity STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
ethnicity_counts = df4['ethnicity'].value_counts()

# Calculate the percentage of each value
ethnicity_percentage= round((ethnicity_counts / len(df4)) * 100,0)

# Display the result
print("Percentage of each ethnicity:")
print(ethnicity_percentage)

Percentage of each ethnicity:
ethnicity
white                                                                               55.0
asian                                                                               10.0
rather not say                                                                       9.0
hispanic / latin                                                                     5.0
black                                                                                3.0
                                                                                    ...
asian, black, pacific islander, hispanic / latin, white                              0.0
asian, native american, indian, pacific islander, hispanic / latin, white, other     0.0
asian, middle eastern, black, pacific islander, hispanic / latin                     0.0
asian, black, pacific islander, white, other                                         0.0
asian, black, indian                                                                 0.0
Name: count, Length: 218, dtype: float64

In [87]:
print(ethnicity_counts)
# Display all rows of the ethnicity_counts
with pd.option_context('display.max_rows', None):
    print(ethnicity_counts)

ethnicity
white                                                                               32831
asian                                                                                6134
rather not say                                                                       5678
hispanic / latin                                                                     2823
black                                                                                2008
                                                                                    ...
asian, black, pacific islander, hispanic / latin, white                                 1
asian, native american, indian, pacific islander, hispanic / latin, white, other        1
asian, middle eastern, black, pacific islander, hispanic / latin                        1
asian, black, pacific islander, white, other                                            1
asian, black, indian                                                                    1
Name: count, Length: 218, dtype: int64
ethnicity
white                                                                                                      32831
asian                                                                                                       6134
rather not say                                                                                              5678
hispanic / latin                                                                                            2823
black                                                                                                       2008
other                                                                                                       1706
hispanic / latin, white                                                                                     1301
indian                                                                                                      1077
asian, white                                                                                                 811
white, other                                                                                                 641
pacific islander                                                                                             432
asian, pacific islander                                                                                      395
native american, white                                                                                       338
middle eastern                                                                                               329
middle eastern, white                                                                                        300
black, white                                                                                                 298
pacific islander, white                                                                                      156
hispanic / latin, other                                                                                      138
black, other                                                                                                 133
black, hispanic / latin                                                                                      119
hispanic / latin, white, other                                                                               117
black, native american, white                                                                                110
black, native american                                                                                       100
asian, other                                                                                                  95
asian, hispanic / latin                                                                                       88
native american, hispanic / latin, white                                                                      87
native american, hispanic / latin                                                                             73
asian, white, other                                                                                           69
native american                                                                                               67
asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, white, other       66
asian, black                                                                                                  59
pacific islander, hispanic / latin                                                                            57
asian, pacific islander, white                                                                                55
native american, white, other                                                                                 54
asian, indian                                                                                                 52
black, white, other                                                                                           49
indian, white                                                                                                 46
asian, hispanic / latin, white                                                                                42
middle eastern, white, other                                                                                  40
middle eastern, hispanic / latin                                                                              39
asian, pacific islander, other                                                                                38
black, hispanic / latin, white                                                                                36
native american, hispanic / latin, white, other                                                               33
pacific islander, hispanic / latin, white                                                                     30
indian, other                                                                                                 30
black, native american, white, other                                                                          29
black, native american, other                                                                                 27
black, native american, hispanic / latin, white                                                               26
middle eastern, other                                                                                         23
black, native american, hispanic / latin                                                                      19
pacific islander, white, other                                                                                18
asian, native american, white                                                                                 18
black, indian                                                                                                 17
native american, other                                                                                        16
asian, black, white                                                                                           15
black, pacific islander                                                                                       15
pacific islander, other                                                                                       14
indian, white, other                                                                                          14
black, hispanic / latin, other                                                                                13
asian, pacific islander, hispanic / latin                                                                     13
native american, hispanic / latin, other                                                                      13
middle eastern, hispanic / latin, white                                                                       12
indian, pacific islander                                                                                      12
asian, middle eastern                                                                                         12
asian, pacific islander, hispanic / latin, white                                                              11
middle eastern, indian                                                                                        11
asian, pacific islander, white, other                                                                         10
black, native american, hispanic / latin, white, other                                                        10
asian, black, native american                                                                                  9
asian, hispanic / latin, white, other                                                                          9
asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, white               9
asian, middle eastern, white                                                                                   9
asian, hispanic / latin, other                                                                                 9
asian, black, other                                                                                            9
middle eastern, native american, white                                                                         8
indian, hispanic / latin                                                                                       8
asian, black, native american, white                                                                           8
asian, native american, hispanic / latin, white                                                                7
native american, pacific islander, white                                                                       7
asian, indian, pacific islander                                                                                6
black, indian, white                                                                                           6
middle eastern, black                                                                                          6
asian, black, pacific islander                                                                                 6
asian, middle eastern, white, other                                                                            6
native american, pacific islander, hispanic / latin                                                            5
asian, middle eastern, indian                                                                                  5
native american, pacific islander, hispanic / latin, white                                                     5
pacific islander, hispanic / latin, white, other                                                               5
asian, native american, white, other                                                                           5
black, native american, hispanic / latin, other                                                                5
asian, native american, hispanic / latin                                                                       5
black, hispanic / latin, white, other                                                                          5
asian, pacific islander, hispanic / latin, white, other                                                        5
asian, indian, other                                                                                           5
asian, indian, white                                                                                           5
black, pacific islander, hispanic / latin                                                                      5
pacific islander, hispanic / latin, other                                                                      5
black, pacific islander, white                                                                                 4
asian, native american, pacific islander, hispanic / latin, white                                              4
asian, native american, hispanic / latin, white, other                                                         4
middle eastern, indian, other                                                                                  4
middle eastern, hispanic / latin, other                                                                        4
black, pacific islander, other                                                                                 4
asian, black, pacific islander, hispanic / latin                                                               4
indian, hispanic / latin, other                                                                                4
black, indian, white, other                                                                                    4
asian, native american                                                                                         3
middle eastern, native american, hispanic / latin                                                              3
black, indian, hispanic / latin                                                                                3
asian, indian, pacific islander, other                                                                         3
middle eastern, pacific islander, other                                                                        3
black, native american, indian, other                                                                          3
native american, pacific islander, hispanic / latin, white, other                                              3
asian, black, native american, pacific islander, white                                                         3
asian, middle eastern, indian, other                                                                           3
black, indian, other                                                                                           3
asian, middle eastern, native american, indian, pacific islander, hispanic / latin, white                      2
asian, black, hispanic / latin                                                                                 2
native american, pacific islander                                                                              2
asian, middle eastern, black                                                                                   2
asian, black, native american, hispanic / latin, white                                                         2
asian, middle eastern, black, pacific islander, hispanic / latin, white                                        2
asian, black, native american, white, other                                                                    2
black, indian, hispanic / latin, white                                                                         2
asian, native american, pacific islander, white, other                                                         2
asian, indian, hispanic / latin                                                                                2
asian, indian, white, other                                                                                    2
middle eastern, hispanic / latin, white, other                                                                 2
asian, black, hispanic / latin, other                                                                          2
native american, pacific islander, white, other                                                                2
asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, other               2
middle eastern, black, native american, white                                                                  2
indian, hispanic / latin, white                                                                                2
asian, native american, pacific islander, white                                                                2
asian, native american, other                                                                                  2
indian, hispanic / latin, white, other                                                                         2
middle eastern, native american, hispanic / latin, white                                                       2
asian, black, pacific islander, white                                                                          2
asian, pacific islander, hispanic / latin, other                                                               2
black, native american, pacific islander, white                                                                2
asian, black, native american, pacific islander                                                                2
middle eastern, indian, white, other                                                                           2
black, native american, pacific islander, hispanic / latin, white                                              2
asian, middle eastern, black, indian, pacific islander, hispanic / latin, white                                2
asian, middle eastern, hispanic / latin, white                                                                 2
black, native american, pacific islander, hispanic / latin, white, other                                       2
asian, middle eastern, black, native american, pacific islander, hispanic / latin, white, other                2
middle eastern, native american, hispanic / latin, white, other                                                2
native american, indian                                                                                        2
middle eastern, black, white                                                                                   2
middle eastern, black, native american, indian, white, other                                                   2
black, native american, pacific islander                                                                       2
asian, black, native american, other                                                                           2
asian, black, native american, hispanic / latin                                                                2
asian, black, hispanic / latin, white                                                                          2
asian, native american, pacific islander                                                                       2
black, native american, indian, white, other                                                                   2
asian, black, native american, pacific islander, other                                                         1
asian, middle eastern, black, native american, indian, pacific islander, white                                 1
asian, indian, hispanic / latin, white                                                                         1
asian, black, native american, indian, hispanic / latin, white, other                                          1
asian, black, indian, hispanic / latin, other                                                                  1
asian, indian, pacific islander, hispanic / latin, white, other                                                1
asian, middle eastern, black, native american, hispanic / latin, white                                         1
asian, middle eastern, other                                                                                   1
middle eastern, pacific islander                                                                               1
middle eastern, indian, white                                                                                  1

In [88]:
# too many rows with weird values displaying different options in one, get just first value before the coma


# Clean the 'ethnicity' column by splitting at commas and taking the first part
df4['ethnicity'] = df4['ethnicity'].str.split(',').str.get(0)
df4['ethnicity'] = df4['ethnicity'].replace('hispanic / latin', 'hispanic')

In [89]:
df4['ethnicity'].unique()

array(['asian', 'white', 'rather not say', 'hispanic', 'pacific islander',
       'black', 'middle eastern', 'native american', 'indian', 'other'],
      dtype=object)

In [90]:
# convert pacific islander,native american' to other
df4['ethnicity'] = df4['ethnicity'].replace('pacific islander', 'other')
df4['ethnicity'] = df4['ethnicity'].replace('native american', 'other')
df4['ethnicity'] = df4['ethnicity'].replace('middle eastern', 'other')

In [91]:
'''
    Ethnicity STATISTICS  after grouping
'''

# Count the occurrences of each unique value in the 'status' column
ethnicity_counts = df4['ethnicity'].value_counts()

# Calculate the percentage of each value
ethnicity_percentage= round((ethnicity_counts / len(df4)) * 100,0)

# Display the result
print("Percentage of each ethnicity:")
print(ethnicity_percentage)

Percentage of each ethnicity:
ethnicity
white             56.0
asian             14.0
rather not say     9.0
hispanic           7.0
other              7.0
black              5.0
indian             2.0
Name: count, dtype: float64

In [23]:
'''
    INCOME STATISTICS BY ETHNICITY
'''

# Group by ethnicity and calculate statistics for income
income_stats_ethnicity = df4.groupby('ethnicity')['income'].describe()

print("\nStatistics for income grouped by ethnicity:")
print(income_stats_ethnicity)

Statistics for income grouped by ethnicity:
                  count           mean            std      min      25%  \
ethnicity
asian            8205.0  114525.379890   95179.119376  20000.0  81583.0
black            3071.0  103507.848909   97530.770965  20000.0  74556.0
hispanic         4379.0  108212.883763   98633.244403  20000.0  74556.0
indian           1196.0  118629.897993   74238.936228  20000.0  93057.0
other            3943.0  117261.144053  125466.150146  20000.0  81583.0
rather not say   5678.0  130563.674533  104193.318255  20000.0  85366.0
white           33472.0  110655.681405   88170.868169  20000.0  81583.0

                     50%       75%        max
ethnicity
asian           105455.0  122712.0  1000000.0
black            85366.0  115899.0  1000000.0
hispanic         93057.0  122712.0  1000000.0
indian          108365.0  129155.0  1000000.0
other            99588.0  129155.0  1000000.0
rather not say  108365.0  185256.0  1000000.0
white           100000.0  122712.0  1000000.0

In [92]:
df4['ethnicity'].unique()
df5=df4.copy()

# Column sign

In [93]:

print('Number of categories: ' + str(df5.sign.nunique()))
print(df5.sign.unique())

Number of categories: 49
['gemini' 'cancer' 'pisces but it doesn&rsquo;t matter' 'pisces'
 'aquarius' 'taurus' 'virgo' 'sagittarius'
 'gemini but it doesn&rsquo;t matter' 'cancer but it doesn&rsquo;t matter'
 'leo but it doesn&rsquo;t matter' 'rather not say'
 'aquarius but it doesn&rsquo;t matter'
 'aries and it&rsquo;s fun to think about'
 'libra but it doesn&rsquo;t matter'
 'pisces and it&rsquo;s fun to think about' 'libra'
 'taurus but it doesn&rsquo;t matter'
 'sagittarius but it doesn&rsquo;t matter' 'scorpio and it matters a lot'
 'gemini and it&rsquo;s fun to think about'
 'leo and it&rsquo;s fun to think about'
 'cancer and it&rsquo;s fun to think about'
 'libra and it&rsquo;s fun to think about'
 'aquarius and it&rsquo;s fun to think about'
 'virgo but it doesn&rsquo;t matter'
 'scorpio and it&rsquo;s fun to think about'
 'capricorn but it doesn&rsquo;t matter' 'scorpio'
 'capricorn and it&rsquo;s fun to think about' 'leo'
 'aries but it doesn&rsquo;t matter' 'aries'
 'scorpio but it doesn&rsquo;t matter'
 'sagittarius and it&rsquo;s fun to think about'
 'libra and it matters a lot' 'taurus and it&rsquo;s fun to think about'
 'leo and it matters a lot' 'virgo and it&rsquo;s fun to think about'
 'cancer and it matters a lot' 'capricorn' 'pisces and it matters a lot'
 'aries and it matters a lot' 'capricorn and it matters a lot'
 'aquarius and it matters a lot' 'sagittarius and it matters a lot'
 'gemini and it matters a lot' 'taurus and it matters a lot'
 'virgo and it matters a lot']

In [94]:
# there should just 12 signs - let's clean the column and extract only first word
df5['sign'] = df5['sign'].str.split().str.get(0)
print(df5.sign.unique())

['gemini' 'cancer' 'pisces' 'aquarius' 'taurus' 'virgo' 'sagittarius'
 'leo' 'rather' 'aries' 'libra' 'scorpio' 'capricorn']

In [99]:
# convert rather not to say back again
df5['sign'] = df5['sign'].replace('rather', 'rather not to say')

In [100]:
'''
    SIGN STATISTICS
'''

sign_counts = df5['sign'].value_counts()

# percentage of each value
sign_percentage= round((sign_counts / len(df5)) * 100,0)


print("Percentage of each sign:")
print(sign_percentage)

Percentage of each sign:
sign
rather not to say    18.0
leo                   7.0
gemini                7.0
libra                 7.0
cancer                7.0
virgo                 7.0
taurus                7.0
scorpio               7.0
aries                 7.0
pisces                7.0
sagittarius           7.0
aquarius              7.0
capricorn             6.0
Name: count, dtype: float64

# Column drinks

In [101]:
'''
    drinks STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
drinks_counts = df5['drinks'].value_counts()

# Calculate the percentage of each value
drinks_percentage= round((drinks_counts / len(df5)) * 100,0)

# Display the result
print("Percentage of each drinks:")
print(drinks_percentage)

Percentage of each drinks:
drinks
socially          70.0
rarely            10.0
often              9.0
not at all         5.0
rather not say     5.0
very often         1.0
desperately        1.0
Name: count, dtype: float64

In [102]:
# change desesperately to very often
df5['drinks'] = df5['drinks'].replace('desperately', 'very often')

In [103]:
drinks_mapping = {
    'socially': 'sometimes',
    'often': 'often',
    'not at all': 'never',
    'rarely': 'sometimes',
    'rather not say': 'rather not say',
    'very often': 'often'
}

# Apply mapping to 'drinks' column
df5['drinks'] = df5['drinks'].map(drinks_mapping).fillna(df5['drinks'])

In [104]:
df5['drinks'].unique()
df6=df5.copy()

# Column diet

In [105]:
'''
    diet STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
diet_counts = df6['diet'].value_counts()

# Calculate the percentage of each value
diet_percentage= round((diet_counts / len(df6)) * 100,0)

# Display the result
print("Percentage of each diet:")
print(diet_counts)

Percentage of each diet:
diet
rather not say         24394
mostly anything        16585
anything                6183
strictly anything       5113
mostly vegetarian       3444
mostly other            1006
strictly vegetarian      875
vegetarian               667
strictly other           452
mostly vegan             338
other                    331
strictly vegan           228
vegan                    136
mostly kosher             86
mostly halal              48
strictly halal            18
strictly kosher           18
halal                     11
kosher                    11
Name: count, dtype: int64

In [106]:
# too many options regroup in 

df6['diet'] = df6['diet'].str.strip()

# Mapping to consolidate values
diet_mapping = {
    'vegan': ['vegan', 'mostly vegan', 'strictly vegan'],
    'vegetarian': ['vegetarian', 'mostly vegetarian', 'strictly vegetarian'],
    'anything': ['strictly anything','mostly anything'],
    'other':  ['mostly other', 'strictly other','other','kosher', 'mostly kosher', 'strictly kosher','halal', 'mostly halal', 'strictly halal' ]        
}

# Update values in 'diet' column based on mappings
for new_value, old_values in diet_mapping.items():
    for old_value in old_values:
        df6.loc[df6['diet'].str.contains(old_value, case=False, na=False), 'diet'] = new_value

In [107]:
df6['diet'].unique()

array(['anything', 'other', 'vegetarian', 'rather not say', 'vegan'],
      dtype=object)

In [108]:
'''
    diet STATISTICS  after grouping
'''

# Count the occurrences of each unique value in the 'status' column
diet_counts = df6['diet'].value_counts()

# Calculate the percentage of each value
diet_percentage= round((diet_counts / len(df6)) * 100,0)

# Display the result
print("Percentage of each diet:")
print(diet_counts)
print(diet_percentage)

Percentage of each diet:
diet
anything          27881
rather not say    24394
vegetarian         4986
other              1981
vegan               702
Name: count, dtype: int64
diet
anything          47.0
rather not say    41.0
vegetarian         8.0
other              3.0
vegan              1.0
Name: count, dtype: float64

In [109]:
df7=df6.copy()

# Column Drugs

In [110]:
'''
    drugs STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
drugs_counts = df7['drugs'].value_counts()

# Calculate the percentage of each value
drugs_percentage= round((drugs_counts / len(df7)) * 100,0)

# Display the result
print("Percentage of each diet:")
print(drugs_counts)
print(drugs_percentage)

Percentage of each diet:
drugs
never             37723
rather not say    14079
sometimes          7732
often               410
Name: count, dtype: int64
drugs
never             63.0
rather not say    23.0
sometimes         13.0
often              1.0
Name: count, dtype: float64

# Column smokes

In [40]:
'''
    job STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
smokes_counts = df7['smokes'].value_counts()

# Calculate the percentage of each value
smokes_percentage= round((smokes_counts / len(df7)) * 100,0)

# Display the result
print("Percentage of each smoke:")
print(smokes_counts)
print(smokes_percentage)

Percentage of each smoke:
smokes
no                43896
rather not say     5511
sometimes          3787
when drinking      3039
yes                2231
trying to quit     1480
Name: count, dtype: int64
smokes
no                73.0
rather not say     9.0
sometimes          6.0
when drinking      5.0
yes                4.0
trying to quit     2.0
Name: count, dtype: float64

In [112]:
smokes_mapping = {
    'sometimes': 'sometimes',
    'no': 'never',
    'rather not say': 'rather not say',
    'when drinking': 'sometimes',
    'yes': 'often',
    'trying to quit': 'sometimes'
}

# Apply mapping to 'smokes' column
df7['smokes'] = df7['smokes'].map(smokes_mapping).fillna(df7['smokes'])

# Column pets

In [113]:
'''
    pets STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
pets_counts = df7['pets'].value_counts()

# Calculate the percentage of each value
pets_percentage= round((pets_counts / len(df7)) * 100,0)

# Display the result
print("Percentage of each smoke:")
print(pets_counts)
print(pets_percentage)

Percentage of each smoke:
pets
rather not say                     19919
likes dogs and likes cats          14814
likes dogs                          7224
likes dogs and has cats             4313
has dogs                            4134
has dogs and likes cats             2333
likes dogs and dislikes cats        2029
has dogs and has cats               1474
has cats                            1406
likes cats                          1063
has dogs and dislikes cats           552
dislikes dogs and likes cats         240
dislikes dogs and dislikes cats      196
dislikes cats                        122
dislikes dogs and has cats            81
dislikes dogs                         44
Name: count, dtype: int64
pets
rather not say                     33.0
likes dogs and likes cats          25.0
likes dogs                         12.0
likes dogs and has cats             7.0
has dogs                            7.0
has dogs and likes cats             4.0
likes dogs and dislikes cats        3.0
has dogs and has cats               2.0
has cats                            2.0
likes cats                          2.0
has dogs and dislikes cats          1.0
dislikes dogs and likes cats        0.0
dislikes dogs and dislikes cats     0.0
dislikes cats                       0.0
dislikes dogs and has cats          0.0
dislikes dogs                       0.0
Name: count, dtype: float64

In [114]:
df7['pets'].unique()

array(['likes dogs and likes cats', 'has cats', 'likes cats',
       'rather not say', 'has dogs and likes cats',
       'likes dogs and has cats', 'likes dogs and dislikes cats',
       'has dogs', 'has dogs and dislikes cats', 'likes dogs',
       'has dogs and has cats', 'dislikes dogs and has cats',
       'dislikes dogs and dislikes cats', 'dislikes cats',
       'dislikes dogs and likes cats', 'dislikes dogs'], dtype=object)

In [115]:
# Mapping to categorize pet preferences, into 3, too many values
pet_mapping = {
    'likes dogs and likes cats': 'likes both',
    'has cats': 'likes cats',
    'likes cats': 'likes cats',
    'rather not say': 'rather not say',
    'has dogs and likes cats': 'likes both',
    'likes dogs and has cats': 'likes both',
    'likes dogs and dislikes cats': 'likes dogs',
    'has dogs': 'likes dogs',
    'has dogs and dislikes cats': 'likes dogs',
    'likes dogs': 'likes dogs',
    'has dogs and has cats': 'likes both',
    'dislikes dogs and has cats': 'likes cats',
    'dislikes dogs and dislikes cats': 'dislikes both',
    'dislikes cats': 'likes dogs',
    'dislikes dogs and likes cats': 'likes cats',
    'dislikes dogs': 'likes cats'
}

# Update values in 'pet_preference' column based on mappings
df7['pets'].replace(pet_mapping, inplace=True)

# Display unique values in the updated 'pet_preference' column
print("Updated values in 'pet_preference':\n", df7['pets'].unique())

Updated values in 'pet_preference':
 ['likes both' 'likes cats' 'rather not say' 'likes dogs' 'dislikes both']

/var/folders/yl/d5x0r6t10l52bms12sy70rzc0000gn/T/ipykernel_3025/3990508507.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df7['pets'].replace(pet_mapping, inplace=True)

In [116]:
'''
    pets STATISTICS grouped
'''

# Count the occurrences of each unique value in the 'status' column
pets_counts = df7['pets'].value_counts()

# Calculate the percentage of each value
pets_percentage= round((pets_counts / len(df7)) * 100,0)

# Display the result
print("Percentage of each smoke:")
print(pets_counts)
print(pets_percentage)

Percentage of each smoke:
pets
likes both        22934
rather not say    19919
likes dogs        14061
likes cats         2834
dislikes both       196
Name: count, dtype: int64
pets
likes both        38.0
rather not say    33.0
likes dogs        23.0
likes cats         5.0
dislikes both      0.0
Name: count, dtype: float64

In [46]:
df8=df7.copy()

# Column religion

In [117]:
'''
    religion STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
religion_counts = df8['religion'].value_counts()

# Calculate the percentage of each value
religion_percentage= round((religion_counts / len(df8)) * 100,0)

# Display the result
print("Percentage of each religion:")
print(religion_counts)
print(religion_percentage)

Percentage of each religion:
religion
rather not to say    20225
christianity         10545
agnosticism           8812
other                 7742
atheism               6985
judaism               3098
buddhism              1948
hinduism               450
islam                  139
Name: count, dtype: int64
religion
rather not to say    34.0
christianity         18.0
agnosticism          15.0
other                13.0
atheism              12.0
judaism               5.0
buddhism              3.0
hinduism              1.0
islam                 0.0
Name: count, dtype: float64

In [118]:
# too many values, replace them with just the first word

df8['religion'] = df8['religion'].str.split().str.get(0)

print(df8['religion'].unique())

['agnosticism' 'rather' 'atheism' 'christianity' 'other' 'buddhism'
 'judaism' 'hinduism' 'islam']

In [120]:
# convert rather not to say back again
df8['religion'] = df8['religion'].replace('rather', 'rather not to say')
df8['religion'] = df8['religion'].replace('catholicism', 'christianity')

In [121]:
print(df8['religion'].unique())

['agnosticism' 'rather not to say' 'atheism' 'christianity' 'other'
 'buddhism' 'judaism' 'hinduism' 'islam']

In [123]:
'''
    religion STATISTICS grouped
'''

# Count the occurrences of each unique value in the 'status' column
religion_counts = df8['religion'].value_counts()

# Calculate the percentage of each value
religion_percentage= round((religion_counts / len(df8)) * 100,0)

# Display the result
print("Percentage of each religion:")
print(religion_counts)
print(religion_percentage)

Percentage of each religion:
religion
rather not to say    20225
christianity         10545
agnosticism           8812
other                 7742
atheism               6985
judaism               3098
buddhism              1948
hinduism               450
islam                  139
Name: count, dtype: int64
religion
rather not to say    34.0
christianity         18.0
agnosticism          15.0
other                13.0
atheism              12.0
judaism               5.0
buddhism              3.0
hinduism              1.0
islam                 0.0
Name: count, dtype: float64

In [52]:
df9=df8.copy()

# Column orientation

In [124]:
'''
    orientation STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
orientation_counts = df9['orientation'].value_counts()

# Calculate the percentage of each value
orientation_percentage= round((orientation_counts / len(df9)) * 100,0)

# Display the result
print("Percentage of each religion:")
print(orientation_counts)
print(orientation_percentage)

Percentage of each religion:
orientation
straight    51604
gay          5573
bisexual     2767
Name: count, dtype: int64
orientation
straight    86.0
gay          9.0
bisexual     5.0
Name: count, dtype: float64

# Column body_type

In [125]:
'''
    body_type STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
body_type_counts = df9['body_type'].value_counts()

# Calculate the percentage of each value
body_type_percentage= round((body_type_counts / len(df9)) * 100,0)

# Display the result
print("Percentage of each religion:")
print(body_type_counts)
print(body_type_percentage)

Percentage of each religion:
body_type
fit               24950
average           14652
skinny             6843
curvy              6553
rather not say     5493
full figured       1453
Name: count, dtype: int64
body_type
fit               42.0
average           24.0
skinny            11.0
curvy             11.0
rather not say     9.0
full figured       2.0
Name: count, dtype: float64

In [55]:
#too many values lets try to put some than mean almos the same toguether

# convert rather not to say back again
df9['body_type'] = df9['body_type'].replace('thin', 'skinny')
df9['body_type'] = df9['body_type'].replace('a little extra', 'curvy')
df9['body_type'] = df9['body_type'].replace('overweight', 'full figured')
df9['body_type'] = df9['body_type'].replace('jacked', 'fit')
df9['body_type'] = df9['body_type'].replace('used up', 'skinny')
df9['body_type'] = df9['body_type'].replace('athletic', 'fit')

In [56]:
df9['body_type'].unique()

array(['curvy', 'average', 'skinny', 'fit', 'rather not say',
       'full figured'], dtype=object)

In [57]:
'''
    body_type STATISTICS  grouped
'''


# Count the occurrences of each unique value in the 'status' column
body_type_counts = df9['body_type'].value_counts()

# Calculate the percentage of each value
body_type_percentage= round((body_type_counts / len(df9)) * 100,0)

# Display the result
print("Percentage of each religion:")
print(body_type_counts)
print(body_type_percentage)

Percentage of each religion:
body_type
fit               24950
average           14652
skinny             6843
curvy              6553
rather not say     5493
full figured       1453
Name: count, dtype: int64
body_type
fit               42.0
average           24.0
skinny            11.0
curvy             11.0
rather not say     9.0
full figured       2.0
Name: count, dtype: float64

In [126]:
df15=df9.copy()

# Column height

In [127]:
# It says object it should be a float

df15['height'].unique()

array([75.0, 70.0, 68.0, 71.0, 66.0, 67.0, 65.0, 72.0, 62.0, 64.0, 69.0,
       73.0, 74.0, 60.0, 63.0, 76.0, 61.0, 78.0, 79.0, 59.0, 80.0, 91.0,
       83.0, 77.0, 58.0, 56.0, 95.0, 57.0, 87.0, 81.0, 36.0, 43.0, 52.0,
       55.0, 53.0, 93.0, 8.0, 54.0, 82.0, 3.0, 86.0, 42.0, 84.0, 94.0,
       50.0, 6.0, 47.0, 49.0, 48.0, '63.0', '72.0', '74.0', '69.0',
       '71.0', '70.0', '64.0', '67.0', '68.0', '59.0', '60.0', '62.0',
       '65.0', '73.0', '75.0', '66.0', '76.0', '61.0', '77.0', '57.0',
       '82.0', '95.0', '78.0', '83.0', '79.0', '81.0', '94.0', '84.0',
       '90.0', '58.0', '88.0', 'rather not say', '80.0', '37.0', '9.0',
       '51.0', '56.0', '91.0', '36.0', '53.0', '1.0', '43.0', '92.0',
       '26.0', '55.0', '48.0', '54.0', '85.0', '89.0', '4.0'],
      dtype=object)

In [128]:
#delete rows where rather not say cause they are just a few values, and to keep consistancy in terms of data type

# Drop rows where 'height' is 'rather not say'
df15 = df15[df15['height'] != 'rather not say']
df15['height'] = df15['height'].astype(float)

In [129]:
df15['height'].unique()

array([75., 70., 68., 71., 66., 67., 65., 72., 62., 64., 69., 73., 74.,
       60., 63., 76., 61., 78., 79., 59., 80., 91., 83., 77., 58., 56.,
       95., 57., 87., 81., 36., 43., 52., 55., 53., 93.,  8., 54., 82.,
        3., 86., 42., 84., 94., 50.,  6., 47., 49., 48., 90., 88., 37.,
        9., 51.,  1., 92., 26., 85., 89.,  4.])

In [130]:
# convert some weird values that are missing a zero

df15['height'] = df15['height'].replace(36.0, 'rather not say')
df15['height'] = df15['height'].replace(8.0, 80.0)
df15['height'] = df15['height'].replace(3.0, 'rather not say')
df15['height'] = df15['height'].replace(6.0, 60.0)
df15['height'] = df15['height'].replace(9.0, 90.0)
df15['height'] = df15['height'].replace(1.0, 'rather not say')
df15['height'] = df15['height'].replace(4.0, 40.0)
df15['height'] = df15['height'].replace(0.26, 'rather not say')
df15['height'] = df15['height'].replace(0.37, 'rather not say')

In [131]:
df15['height'].unique()

array([75.0, 70.0, 68.0, 71.0, 66.0, 67.0, 65.0, 72.0, 62.0, 64.0, 69.0,
       73.0, 74.0, 60.0, 63.0, 76.0, 61.0, 78.0, 79.0, 59.0, 80.0, 91.0,
       83.0, 77.0, 58.0, 56.0, 95.0, 57.0, 87.0, 81.0, 'rather not say',
       43.0, 52.0, 55.0, 53.0, 93.0, 54.0, 82.0, 86.0, 42.0, 84.0, 94.0,
       50.0, 47.0, 49.0, 48.0, 90.0, 88.0, 37.0, 51.0, 92.0, 26.0, 85.0,
       89.0, 40.0], dtype=object)

In [133]:

df15 = df15[df15['height'] != 'rather not say']

In [134]:
df15['height'].unique()

array([75.0, 70.0, 68.0, 71.0, 66.0, 67.0, 65.0, 72.0, 62.0, 64.0, 69.0,
       73.0, 74.0, 60.0, 63.0, 76.0, 61.0, 78.0, 79.0, 59.0, 80.0, 91.0,
       83.0, 77.0, 58.0, 56.0, 95.0, 57.0, 87.0, 81.0, 43.0, 52.0, 55.0,
       53.0, 93.0, 54.0, 82.0, 86.0, 42.0, 84.0, 94.0, 50.0, 47.0, 49.0,
       48.0, 90.0, 88.0, 37.0, 51.0, 92.0, 26.0, 85.0, 89.0, 40.0],
      dtype=object)

In [135]:
df16=df15.copy()

In [136]:
# Assume df is your DataFrame with the 'height' column
df16['height'] = df16['height'].apply(lambda x: (x / 100) + 1 if isinstance(x, (int, float)) else x)

In [137]:
df16['height'].unique()

array([1.75, 1.7 , 1.68, 1.71, 1.66, 1.67, 1.65, 1.72, 1.62, 1.64, 1.69,
       1.73, 1.74, 1.6 , 1.63, 1.76, 1.61, 1.78, 1.79, 1.59, 1.8 , 1.91,
       1.83, 1.77, 1.58, 1.56, 1.95, 1.57, 1.87, 1.81, 1.43, 1.52, 1.55,
       1.53, 1.93, 1.54, 1.82, 1.86, 1.42, 1.84, 1.94, 1.5 , 1.47, 1.49,
       1.48, 1.9 , 1.88, 1.37, 1.51, 1.92, 1.26, 1.85, 1.89, 1.4 ])

In [138]:
df17=df16.copy()

In [139]:
'''
    height STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
height_counts = df17['height'].value_counts()

# Calculate the percentage of each value
height_percentage= round((height_counts / len(df17)) * 100,0)

# Display the result
print("Percentage of each religion:")
print(height_counts)
print(height_percentage)

Percentage of each religion:
height
1.70    6074
1.68    5449
1.67    5353
1.72    5315
1.69    5179
1.71    4826
1.66    4759
1.64    3865
1.65    3794
1.73    2815
1.63    2767
1.74    2547
1.62    2244
1.75    1382
1.61    1090
1.60     792
1.76     783
1.77     280
1.59     212
1.78     132
1.79      57
1.58      53
1.80      28
1.95      19
1.57      17
1.83      12
1.82      11
1.81      11
1.84       9
1.56       8
1.55       6
1.53       5
1.91       3
1.54       3
1.94       3
1.50       2
1.90       2
1.43       2
1.48       2
1.88       2
1.37       2
1.87       1
1.86       1
1.93       1
1.52       1
1.42       1
1.47       1
1.49       1
1.51       1
1.92       1
1.26       1
1.85       1
1.89       1
1.40       1
Name: count, dtype: int64
height
1.70    10.0
1.68     9.0
1.67     9.0
1.72     9.0
1.69     9.0
1.71     8.0
1.66     8.0
1.64     6.0
1.65     6.0
1.73     5.0
1.63     5.0
1.74     4.0
1.62     4.0
1.75     2.0
1.61     2.0
1.60     1.0
1.76     1.0
1.77     0.0
1.59     0.0
1.78     0.0
1.79     0.0
1.58     0.0
1.80     0.0
1.95     0.0
1.57     0.0
1.83     0.0
1.82     0.0
1.81     0.0
1.84     0.0
1.56     0.0
1.55     0.0
1.53     0.0
1.91     0.0
1.54     0.0
1.94     0.0
1.50     0.0
1.90     0.0
1.43     0.0
1.48     0.0
1.88     0.0
1.37     0.0
1.87     0.0
1.86     0.0
1.93     0.0
1.52     0.0
1.42     0.0
1.47     0.0
1.49     0.0
1.51     0.0
1.92     0.0
1.26     0.0
1.85     0.0
1.89     0.0
1.40     0.0
Name: count, dtype: float64

In [ ]:
df17.info()

# Column speaks

In [140]:
df17['speaks'].unique()

array(['english', 'english (fluently), spanish (poorly), french (poorly)',
       'english, french, c++', ...,
       'english (fluently), hindi (poorly), french (poorly), tamil (okay), spanish (poorly)',
       'english (fluently), french (poorly), japanese (poorly), latin (poorly)',
       'english (fluently), french, farsi'], dtype=object)

In [141]:
df17['speaks'].nunique()

7645

In [142]:
#too many values, lest just count how many languages they speak
df17['speaks'] = df17['speaks'].str.split(',').str.len()

In [143]:
df17['speaks'].nunique()

5

In [145]:
'''
    speaks STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
speaks_counts = df17['speaks'].value_counts()

# Calculate the percentage of each value
speaks_percentage= round((speaks_counts / len(df17)) * 100,0)

# Display the result
print("Percentage of each speaks:")
print(speaks_counts)
print(speaks_percentage)

Percentage of each speaks:
speaks
1    29110
2    17227
3     8680
4     3250
5     1661
Name: count, dtype: int64
speaks
1    49.0
2    29.0
3    14.0
4     5.0
5     3.0
Name: count, dtype: float64

In [146]:
df18=df17.copy()

# Column offspring

In [148]:
df18['offspring'].nunique()

16

In [149]:
df18['offspring'].unique()

array(["doesn't have kids, but might want them", 'rather not say',
       "doesn't want kids", "doesn't have kids, but wants them",
       "doesn't have kids", 'wants kids', 'has a kid', 'has kids',
       "doesn't have kids, and doesn't want any",
       "has kids, but doesn't want more",
       "has a kid, but doesn't want more", 'has a kid, and wants more',
       'has kids, and might want more', 'might want kids',
       'has a kid, and might want more', 'has kids, and wants more'],
      dtype=object)

In [150]:
# lets try to reduce options by mapping 

offspring_mapping = {
    "doesn't have kids, but might want them": 'no but want',
    'rather not say': 'rather not say',
    "doesn't want kids": 'no do not want',
    "doesn't have kids, but wants them": 'no but want',
    "doesn't have kids": 'rather not say',
    'wants kids': 'no but want',
    'has a kid': 'yes',
    'has kids': 'yes',
    "doesn't have kids, and doesn't want any": 'no do not want',
    "has kids, but doesn't want more": 'yes',
    "has a kid, but doesn't want more": 'yes',
    'has a kid, and wants more': 'yes',
    'has kids, and might want more': 'yes',
    'might want kids': 'no but want',
    'has a kid, and might want more': 'yes',
    'has kids, and wants more': 'yes'
}

# Update values in 'offspring' column based on mappings
df18['offspring'] = df18['offspring'].map(offspring_mapping)

In [152]:
df18['offspring'].unique()

array(['no but want', 'rather not say', 'no do not want', 'yes'],
      dtype=object)

In [154]:
df19=df18.copy()

# Column age

In [155]:
df19['age'].unique()

array([22, 35, 38, 23, 29, 32, 31, 24, 37, 28, 30, 39, 33, 26, 27, 20, 25,
       40, 36, 21, 34, 43, 46, 41, 42, 45, 18, 55, 50, 59, 44, 48, 54, 51,
       62, 52, 19, 58, 66, 53, 63, 47, 49, 61, 60, 57, 56, 65, 64, 68, 69,
       67])

# Change all essay column names

In [156]:
# Mapping dictionary for column renaming
column_mapping = {
    'essay0': 'about_me',
    'essay1': 'my_goals',
    'essay2': 'my_talent',
    'essay3': 'my_highlights',
    'essay4': 'my_favorites',
    'essay5': 'my_needs',
    'essay6': 'think_about',
    'essay7': 'typical_friday',
    'essay8': 'my_secret',
    'essay9': 'message_if'
}

# Rename columns using the mapping
df19 = df19.rename(columns=column_mapping)

In [157]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59928 entries, 0 to 59943
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             59928 non-null  int64
 1   status          59928 non-null  object
 2   sex             59928 non-null  object
 3   orientation     59928 non-null  object
 4   body_type       59928 non-null  object
 5   diet            59928 non-null  object
 6   drinks          59928 non-null  object
 7   drugs           59928 non-null  object
 8   education       59928 non-null  object
 9   ethnicity       59928 non-null  object
 10  height          59928 non-null  float64
 11  income          59928 non-null  int64
 12  job             59928 non-null  object
 13  last_online     59928 non-null  object
 14  location        59928 non-null  object
 15  offspring       59928 non-null  object
 16  pets            59928 non-null  object
 17  religion        59928 non-null  object
 18  sign            59928 non-null  object
 19  smokes          59928 non-null  object
 20  speaks          59928 non-null  int64
 21  about_me        59928 non-null  object
 22  my_goals        59928 non-null  object
 23  my_talent       59928 non-null  object
 24  my_highlights   59928 non-null  object
 25  my_favorites    59928 non-null  object
 26  my_needs        59928 non-null  object
 27  think_about     59928 non-null  object
 28  typical_friday  59928 non-null  object
 29  my_secret       59928 non-null  object
 30  message_if      59928 non-null  object
 31  city            59928 non-null  object
 32  state           59928 non-null  object
dtypes: float64(1), int64(3), object(29)
memory usage: 15.5+ MB

In [158]:
df20=df19.copy()

# Check how many rather not say in each column

In [159]:
# Count 'rather not say' values in each column
rather_not_say_counts = df20.apply(lambda x: (x == 'rather not say').sum())

print(rather_not_say_counts)

age                   0
status                0
sex                   0
orientation           0
body_type          5486
diet              24382
drinks             2976
drugs             14074
education          6619
ethnicity          5673
height                0
income                0
job                8627
last_online           0
location              0
offspring         43106
pets              19913
religion              0
sign                  0
smokes             5506
speaks                0
about_me           5482
my_goals           7565
my_talent          9632
my_highlights     11471
my_favorites      10529
my_needs          10842
think_about       13765
typical_friday    12445
my_secret         19217
message_if        12598
city                  0
state                 0
dtype: int64

In [160]:
#features = ['body_type_', 'education_', 'drinks_',
           #'drugs_', 'smokes_', 'likes_dogs_', 'likes_cats_']

IndentationError: unexpected indent (2127509544.py, line 2)

In [161]:
# List of columns to check
columns_to_check = ['body_type', 'diet', 'drinks', 'drugs', 'education', 
                    'ethnicity', 'job', 'offspring', 'pets', 'sign', 'smokes']

# Identify the rows with 'rather not say' in all of the specified columns
rows_to_delete = df20[columns_to_check].apply(lambda x: (x == 'rather not say').all(), axis=1)

# Delete those rows
df20 = df20[~rows_to_delete]

# Print the number of rows deleted
print(f"Number of rows deleted: {rows_to_delete.sum()}")

Number of rows deleted: 0

In [ ]:
df20.info()

In [163]:
df21=df20.copy()

In [164]:
# Count 'rather not say' values in each column
rather_not_say_counts = df21.apply(lambda x: (x == 'rather not say').sum())

print(rather_not_say_counts)

age                   0
status                0
sex                   0
orientation           0
body_type             0
diet              20517
drinks             2313
drugs             12342
education          5681
ethnicity          4538
height                0
income                0
job                7221
last_online           0
location              0
offspring         38564
pets              17633
religion              0
sign                  0
smokes             4499
speaks                0
about_me           4878
my_goals           6692
my_talent          8496
my_highlights     10104
my_favorites       9474
my_needs           9604
think_about       12270
typical_friday    10993
my_secret         17153
message_if        11175
city                  0
state                 0
dtype: int64

In [165]:
# Delete rows where 'body_type' is 'rather not say'
df21 = df21[df21['job'] != 'rather not say']

In [166]:
# Count 'rather not say' values in each column
rather_not_say_counts = df21.apply(lambda x: (x == 'rather not say').sum())

print(rather_not_say_counts)

age                   0
status                0
sex                   0
orientation           0
body_type             0
diet              16714
drinks             1282
drugs             10447
education          3152
ethnicity          3322
height                0
income                0
job                   0
last_online           0
location              0
offspring         32561
pets              13632
religion              0
sign                  0
smokes             3054
speaks                0
about_me           3842
my_goals           5070
my_talent          6629
my_highlights      7936
my_favorites       7362
my_needs           7509
think_about        9731
typical_friday     8562
my_secret         13915
message_if         8969
city                  0
state                 0
dtype: int64

In [167]:
df21['status'] = df21['status'].replace('available', 'single')

In [168]:
df21['status'].unique()

array(['single', 'seeing someone', 'married'], dtype=object)

In [169]:
df22=df21.copy()

In [170]:
#Generate unique profile IDs starting from 1000
df22['profile_id'] = range(1000, 1000 + len(df22))

# Reorder the columns to place 'profile_id' at the beginning
cols = ['profile_id'] + [col for col in df22 if col != 'profile_id']
df22 = df22[cols]

# Display the updated DataFrame
print(df22)

       profile_id  age  status sex orientation body_type            diet  \
0            1000   22  single   m    straight     curvy        anything
1            1001   35  single   m    straight   average           other
3            1002   23  single   m    straight    skinny      vegetarian
4            1003   29  single   m    straight       fit  rather not say
5            1004   29  single   m    straight   average        anything
...           ...  ...     ...  ..         ...       ...             ...
59935       48216   32  single   m    bisexual    skinny        anything
59940       48217   24  single   m    straight       fit        anything
59941       48218   42  single   m    straight   average        anything
59942       48219   27  single   m    straight       fit        anything
59943       48220   39  single   m         gay   average  rather not say

          drinks           drugs        education  ...  \
0      sometimes           never  College or more  ...
1          often       sometimes  College or more  ...
3      sometimes  rather not say  College or more  ...
4      sometimes           never  College or more  ...
5      sometimes  rather not say  College or more  ...
...          ...             ...              ...  ...
59935  sometimes  rather not say  College or more  ...
59940      often       sometimes  College or more  ...
59941      never           never  College or more  ...
59942  sometimes           often  College or more  ...
59943  sometimes  rather not say  College or more  ...

                                               my_talent  \
0      making people laugh. ranting about a good salt...
1      being silly. having ridiculous amonts of fun w...
3      playing synthesizers and organizing books acco...
4      creating imagery to look at: http://bagsbrown....
5      imagining random shit. laughing at aforementio...
...                                                  ...
59935  conscientiousness. adding -ness to words that ...
59940  filmmaking, photography, graphic design, web d...
59941  - looking at things objectively - getting thin...
59942                                          listening
59943  i'm a great bullshitter. i don't know what it ...

                                           my_highlights  \
0      the way i look. i am a six foot half asian, ha...
1                                         rather not say
3                      socially awkward but i do my best
4                i smile a lot and my inquisitive nature
5      i have a big smile. i also get asked if i'm we...
...                                                  ...
59935  probably that i have no hair (unless i'm weari...
59940                                dude, i don't know.
59941  i'm quiet until i get used to the environment ...
59942  it used to be the hair until i mowed it off bu...
59943  either that i am funny/sarcastic, or that i am...

                                            my_favorites  \
0      books: absurdistan, the republic, of mice and ...
1      i am die hard christopher moore fan. i don't r...
3      bataille, celine, beckett. . . lynch, jarmusch...
4      music: bands, rappers, musicians at the moment...
5      books: to kill a mockingbird, lord of the ring...
...                                                  ...
59935  i get anxious when people ask about favorites....
59940  movies: hook (the greatest adventure ever!), g...
59941  last book: "game change". movies: bourne serie...
59942  where to begin musically: right now i listen t...
59943  i just read the help by kathryn stockett, sooo...

                                                my_needs  \
0                      food. water. cell phone. shelter.
1      delicious porkness in all of its glories. my b...
3                                         rather not say
4                                         rather not say
5      like everyone else, i love my friends and fami...
...                                                  ...
59935  water. air. food. clothes (if its cold, though...
59940  iphone contact lenses headphones camera tv rem...
59941  - iphone - friends and family - internet - bay...
59942  music, family, friends, a basketball, hoop, so...
59943  1. family & friends & other humans - interacti...

                                             think_about  \
0                            duality and humorous things
1                                         rather not say
3                             cats and german philosophy
4                                         rather not say
5      what my contribution to the world is going to ...
...                                                  ...
59935                                           thinking
59940  i do most of my thinking on the bus to/from wo...
59941           aside from work, how to improve my home.
59942          what can i do to make someone chuckle....
59943  sex, myself, other people, how amazing everyth...

                                          typical_friday  \
0      trying to find someone to hang out with. i am ...
1                                         rather not say
3                                         rather not say
4                                         rather not say
5                                   out with my friends!
...                                                  ...
59935  was in class friday nights this past semester....
59940      bringin' home bacon, or drinking and shakin'!
59941    out enjoying friendly conversation over dinner.
59942  what i would do on any other day. everydays a ...
59943  out at happy hour with my friends, running int...

                                               my_secret  \
0      i am new to california and looking for someone...
1      i am very open and will share just about anyth...
3                                         rather not say
4                                         rather not say
5      i cried on my first day at school because a bi...
...                                                  ...
59935  i wish my sexual preferences were clearer to m...
59940  when i was 18 i got a tattoo of waldo somewher...
59941               please let me think about this more.
59942  i like walking around in other people's house ...
59943  i wish i could cry like holly hunter in broadc...

                                              message_if                 city  \
0      you want to be swept off your feet! you are ti...  south san francisco
1                                         rather not say              oakland
3                                  you feel so inclined.             berkeley
4                                         rather not say        san francisco
5                                        you're awesome.        san francisco
...                                                  ...                  ...
59935              you don't know what it's all about...        san francisco
59940     meh if you made it this far you might as well.        san francisco
59941                         we have similar interests.  south san francisco
59942              you are interested and interesting...        san francisco
59943  if you have a back-bone, an opinion, a sense o...        san francisco

            state
0      california
1      california
3      california
4      california
5      california
...           ...
59935  california
59940  california
59941  california
59942  california
59943  california

[47221 rows x 34 columns]

In [175]:
df24=df22.copy()

# Column job

In [176]:
df24['job'].unique()

array(['transportation', 'hospitality / travel', 'student',
       'artistic / musical / writer', 'computer / hardware / software',
       'banking / financial / real estate', 'sales / marketing / biz dev',
       'other', 'medicine / health', 'entertainment / media',
       'science / tech / engineering', 'executive / management',
       'education / academia', 'clerical / administrative',
       'construction / craftsmanship', 'political / government',
       'law / legal services', 'unemployed', 'military', 'retired'],
      dtype=object)

In [182]:
# formal norm  one posib value onli that groups all


df24['job'] = df24['job'].replace('hospitality / travel', 'hospitality')
df24['job'] = df24['job'].replace('artistic / musical / writer', 'arts')
df24['job'] = df24['job'].replace('computer / hardware / software', 'it')
df24['job'] = df24['job'].replace('banking / financial / real estate', 'finance')
df24['job'] = df24['job'].replace('sales / marketing / biz dev', 'marketing')
df24['job'] = df24['job'].replace('medicine / health', 'healthcare')
df24['job'] = df24['job'].replace('entertainment / media', 'media')
df24['job'] = df24['job'].replace('science / tech / engineering', 'science and tech')
df24['job'] = df24['job'].replace('executive / management', 'management')
df24['job'] = df24['job'].replace('education / academia', 'education')
df24['job'] = df24['job'].replace('clerical / administrative', 'admin')
df24['job'] = df24['job'].replace('construction / craftsmanship', 'construction')
df24['job'] = df24['job'].replace('political / government', 'politics')
df24['job'] = df24['job'].replace('law / legal services', 'legal')

In [183]:
df24['job'].unique()

array(['transportation', 'hospitality', 'student', 'arts', 'it',
       'finance', 'marketing', 'other', 'healthcare', 'media',
       'science and tech', 'management', 'education', 'admin',
       'construction', 'politics', 'legal', 'unemployed', 'military',
       'retired'], dtype=object)

In [184]:
'''
    job STATISTICS 
'''

# Count the occurrences of each unique value in the 'status' column
job_counts = df24['job'].value_counts()

# Calculate the percentage of each value
job_percentage= round((job_counts / len(df24)) * 100,0)

# Display the result
print("Percentage of each job:")
print(job_counts)
print(job_percentage)

Percentage of each job:
job
other               6976
science and tech    4457
student             4422
it                  4298
marketing           4083
arts                4054
healthcare          3420
education           3150
management          2275
finance             2099
media               2061
hospitality         1267
legal               1265
construction         976
admin                734
politics             650
transportation       345
unemployed           251
retired              241
military             197
Name: count, dtype: int64
job
other               15.0
science and tech     9.0
student              9.0
it                   9.0
marketing            9.0
arts                 9.0
healthcare           7.0
education            7.0
management           5.0
finance              4.0
media                4.0
hospitality          3.0
legal                3.0
construction         2.0
admin                2.0
politics             1.0
transportation       1.0
unemployed           1.0
retired              1.0
military             0.0
Name: count, dtype: float64

In [185]:
df25=df24.copy()

# Delete column location

In [186]:
df25.drop(columns=['location'], inplace=True)

In [192]:
df25.drop(columns=['rjob'], inplace=True)

In [193]:
df26=df25.copy()

In [194]:
df26.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47221 entries, 0 to 59943
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   profile_id      47221 non-null  int64
 1   age             47221 non-null  int64
 2   status          47221 non-null  object
 3   sex             47221 non-null  object
 4   orientation     47221 non-null  object
 5   body_type       47221 non-null  object
 6   diet            47221 non-null  object
 7   drinks          47221 non-null  object
 8   drugs           47221 non-null  object
 9   education       47221 non-null  object
 10  ethnicity       47221 non-null  object
 11  height          47221 non-null  float64
 12  income          47221 non-null  int64
 13  job             47221 non-null  object
 14  last_online     47221 non-null  object
 15  offspring       47221 non-null  object
 16  pets            47221 non-null  object
 17  religion        47221 non-null  object
 18  sign            47221 non-null  object
 19  smokes          47221 non-null  object
 20  speaks          47221 non-null  int64
 21  about_me        47221 non-null  object
 22  my_goals        47221 non-null  object
 23  my_talent       47221 non-null  object
 24  my_highlights   47221 non-null  object
 25  my_favorites    47221 non-null  object
 26  my_needs        47221 non-null  object
 27  think_about     47221 non-null  object
 28  typical_friday  47221 non-null  object
 29  my_secret       47221 non-null  object
 30  message_if      47221 non-null  object
 31  city            47221 non-null  object
 32  state           47221 non-null  object
dtypes: float64(1), int64(4), object(28)
memory usage: 12.2+ MB

In [189]:
df26['job'].unique()

array(['transportation', 'hospitality', 'student', 'arts', 'it',
       'finance', 'marketing', 'other', 'healthcare', 'media',
       'science and tech', 'management', 'education', 'admin',
       'construction', 'politics', 'legal', 'unemployed', 'military',
       'retired'], dtype=object)

In [195]:
df27=df26.copy()

# Export preprocessed csv

In [196]:
okcupid_preprocessed = df27

# Specify the folder path
folder_path = ('/Users/marina/Desktop/final_project/data/cleaned/')

# Specify the file name
file_name = 'okcupid_preprocessed.csv'

 #Combine the folder path and file name
file_path = os.path.join(folder_path, file_name)

# Export the DataFrame to a CSV file
okcupid_preprocessed.to_csv(file_path, index=False)

print(f'DataFrame exported to {file_path}')

DataFrame exported to /Users/marina/Desktop/final_project/data/cleaned/okcupid_preprocessed.csv